@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');

.card_img {
  border-radius: 50%;
}

.card_media {
  background-image: url('/assets/images/marketplaces.jpg');
  height: 250px;
}

.artist_card {
  font-family: BmEuljiro, Roboto, sans-serif;
  font-size: 24px;
  border-bottom: 1px solid #20202022;
}

.artist_twit {
  padding-left:20px;
  font-family: BmEuljiro, Roboto, sans-serif;
  font-size: 15px;
}

.avatarImage {
   vertical-align: middle;
   width: 50px;
   height: 50px;
   border-radius: 50%;
   margin: 10px;
 }

 .art_link{
   font-family: BmEuljiro, Roboto, sans-serif;
   margin-left: 10px;
   text-decoration: none;
   color: #666666;
   font-size: 12px;
 }
